@page "/"
@inject ILogger<Index> logger

<h3>Console logger: open the browser console to see the logs</h3>

<button class="btn btn-primary" onclick=@LogDebug>Log Debug</button>
<button class="btn btn-primary" onclick=@LogWarning>Log Warning</button>

@functions {
  protected override void OnInit()
  {
    logger.LogTrace("Trace!!");
    logger.LogDebug("Debug!!");
    logger.LogInformation("Information!!");
    logger.LogWarning("Warning!!");
    logger.LogError("Error!!");
    logger.LogError(new Exception("With Exception!!"), "Error!!");
    logger.LogCritical("Critical!!");

    using (logger.BeginScope("This is my Debug test scope"))
    {
      logger.LogDebug("Debug!!");
    }

    using (logger.BeginScope("This is my Debug test scope with exception"))
    {
      logger.LogDebug("Debug!!");
      logger.LogError(new Exception("With Exception!!"), "Error!!");
    }
  }

  private void LogDebug()
  {
    using (logger.BeginScope("This is the Outer Debug Scope"))
    {
      logger.LogDebug("LogDebug button pressed!");
      using (logger.BeginScope("This is the Inner Debug Scope"))
      {
        logger.LogDebug("LogDebug button pressed!");
      }
    }
  }

  private void LogWarning()
  {
    using (logger.BeginScope("This is the Outer Warning Scope"))
    {
      logger.LogDebug("LogWarning button pressed!");
      using (logger.BeginScope("This is the Inner Warning Scope"))
      {
        logger.LogWarning("LogWarning button pressed!");
      }
    }
  }
}