@page "/"
@inject ILogger<Index> logger

<h3>Console logger: open the browser console to see the logs</h3>

<button class="btn btn-primary" onclick=@LogDebug>Log Debug</button>
<button class="btn btn-primary" onclick=@LogWarning>Log Warning</button>

@functions {
  protected override void OnInit()
  {
    logger.LogTrace("Trace!!");
    logger.LogDebug("Debug!!");
    logger.LogInformation("Information!!");
    logger.LogWarning("Warning!!");
    logger.LogError("Error!!");
    logger.LogError(new Exception("With Exception!!"), "Error!!");
    logger.LogCritical("Critical!!");
  }

  private void LogDebug()
  {
    logger.LogDebug("LogDebug button pressed!");
  }

  private void LogWarning()
  {
    logger.LogWarning("LogWarning button pressed!");
  }
}